# dependencies
*/node_modules/
node_modules/
/.pnp
.pnp.js

# production
*/build/

*.log

######################
# Visual Studio Code
######################
.vscode/
client/.vscode/

######################
# Others
######################
*.pyc
*.class
*.*~
*~
.merge_file*

######################
#.idea
######################
.idea/
client/.idea/


### build files
*.tar
*.tar.gz